<h3>{{ heading_title }}</h3>
<div class="row">
    <div class="product-layout col-xs-12">
        <div class="product-thumb">
            <div class="image">
                {% for category in categories %}
                    {% if loop.index < 3 %}
                        <div class="col-md-6">
                            <a href="{{ category.href }}">
                                <h4>{{ category.name }}</h4>
                                <img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
                            </a>
                        </div>
                    {% endif %}
                    {% if loop.index >= 3 %}
                        <div class="col-md-3">
                            <a href="{{ category.href }}">
                                <h4>{{ category.name }}</h4>
                                <img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>


